<a href="https://colab.research.google.com/github/KaleabAlmaz/statistics-in-python/blob/main/Hypothesis_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Hypothesis testing

Hypothesis testing is an act in statistics whereby an analyst tests an assumption regarding a population parameter.

Null and alternative hypotheses are used in statistical hypothesis testing. 
The null hypothesis of a test always predicts no effect or no relationship between variables, while the alternative hypothesis states your research prediction of an effect or relationship

One tailed test :- A test of a statistical hypothesis , where the region of rejection is on only one side of the sampling distribution , is called a one-tailed test.

Example :- a student has ≥ 3 CGPA 

Two-tailed test :- A two-tailed test is a statistical test in which the critical area of a distribution is two-sided and tests whether a sample is greater than or less than a certain range of values. If the sample being tested falls into either of the critical areas, the alternative hypothesis is accepted instead of the null hypothesis.

Example : a student != 3 CGPA

p-value

The P value, or calculated probability, is the probability of finding the observed, or more extreme, results when the null hypothesis (H 0) of a study question is true — the definition of ‘extreme’ depends on how the hypothesis is being tested.

Type of test
1. Z-test
2. T-test
3. ANOVA test
4. Chi-square test
5. correlation analysis

In [31]:
import pandas as pd
import numpy as np
from numpy import sqrt, abs, round
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import norm
%matplotlib inline

In [3]:
df=pd.read_csv('/content/drive/MyDrive/dataset/telecom_churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## Z-test

Z-test is one of statistical test to compare the mean of the two given samples and infers are they drawn from the same distribution or not.

it has some criteria:
1. the sample size must be greater than 30
2. one data point isn’t related or doesn’t affect another data point.

Here we will be using the Gender categorial variable and MonthlyCharges continuous variable. Gender has 2 groups: male and female. Therefore the hypothesis will be:

Null Hypothesis: There is no significant difference between the mean monthlycharges of males and females.

Alternate Hypothesis: There is a significant difference between the mean monthlycharges of males and females.

z= sample_mean-population_mean/sum of the root of standard deviation/number of sample

In [4]:
M_mean=df.loc[df['gender']=='Male','MonthlyCharges'].mean()
F_mean=df.loc[df['gender']=='Female','MonthlyCharges'].mean()
M_std=df.loc[df['gender']=='Male','MonthlyCharges'].std()
F_std=df.loc[df['gender']=='Female','MonthlyCharges'].std()
no_of_M=df.loc[df['gender']=='Male','MonthlyCharges'].count()
no_of_F=df.loc[df['gender']=='Female','MonthlyCharges'].count()

In [5]:
M_mean

64.32748241912799

In [6]:
F_mean

65.20424311926605

In [7]:
F_std

30.061340797675854

In [8]:
M_std

30.116093020142504

In [11]:
def twoSampZ(X1, X2, mudiff, sd1, sd2, n1, n2):
    pooledSE = sqrt(sd1**2/n1 + sd2**2/n2)
    z = ((X1 - X2) - mudiff)/pooledSE
    pval = 2*(1 - norm.cdf(abs(z)))
    return round(z,3), pval
z,p= twoSampZ(M_mean,F_mean,0,M_std,F_std,no_of_M,no_of_F)
print("Z & p values respectively are: " , z, "and", p)

Z & p values respectively are:  -1.223 and 0.22145337734102766

mostly the level of significance is 0.05.
1. if p-value is less than the level of significance, then reject the null hyphothesis.
2. if the p-value is greater than the level of significance, then accept the null hyphothesis

In [13]:
if p<0.05:
  print('reject null hypothesis')
else:
  print('accept null hypothesis')

accept null hypothesis

## T-test

A t-test is also used to compare the mean of two given samples like Z-test. However, It is implemented when the sample size is less than 30. It assumes a normal distribution of the sample. It can also be one-sample or two-sample. The degree of freedom is calculated by n-1 where n is the number of samples.

In [18]:
top_30=df.loc[:30,]
top_30.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [20]:
M_mean=top_30.loc[top_30['gender']=='Male','MonthlyCharges'].mean()
F_mean=top_30.loc[top_30['gender']=='Female','MonthlyCharges'].mean()
M_std=top_30.loc[top_30['gender']=='Male','MonthlyCharges'].std()
F_std=top_30.loc[top_30['gender']=='Female','MonthlyCharges'].std()
no_of_M=top_30.loc[top_30['gender']=='Male','MonthlyCharges'].count()
no_of_F=top_30.loc[top_30['gender']=='Female','MonthlyCharges'].count()

In [21]:
M_mean

63.47222222222222

In [22]:
F_mean

68.47307692307692

In [23]:
F_std

30.632183615878958

In [24]:
M_std

32.130214029706856

In [25]:
def twoSampZ(X1, X2, mudiff, sd1, sd2, n1, n2):
    pooledSE = sqrt(sd1**2/n1 + sd2**2/n2)
    z = ((X1 - X2) - mudiff)/pooledSE
    pval = 2*(1 - norm.cdf(abs(z)))
    return round(z,3), pval
z,p= twoSampZ(M_mean,F_mean,0,M_std,F_std,no_of_M,no_of_F)
print("Z & p values respectively are: " , z, "and", p)

Z & p values respectively are:  -0.439 and 0.6603750350220634

In [26]:
if p<0.05:
  print('reject null hypothesis')
else:
  print('accept null hypothesis')

accept null hypothesis

## ANOVA

ANOVA stands for Analysis of variance. As the name, suggests it uses variance as its parameter to compare multiple independent groups. ANOVA can be one-way ANOVA or two-way ANOVA. One-way ANOVA is applied when there are three or more independent groups of a variable. We will implement the same in python.

F-Statistics can be calculated as:

Here we will be using the InternetService categorial variable and monthlycharges continuous variable. InternetService has 3 groups: DSL,fiber optic, and No Therefore the hypothesis will be:

Null Hypothesis: There is no significant difference between the mean monthlycharges among different groups of InternetService.

Alternate Hypothesis: There is a significant difference between the mean monthlycharges among different groups of InternetService.

In [68]:
df_anova=df.loc[:30,]

In [69]:
df_anova = df_anova[['InternetService','MonthlyCharges']]

In [70]:
df_anova.head()

  InternetService  MonthlyCharges
0             DSL           29.85
1             DSL           56.95
2             DSL           53.85
3             DSL           42.30
4     Fiber optic           70.70

In [71]:
df_anova['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [72]:
from scipy.stats.stats import f_oneway
from pandas.core.resample import f
dsl=df_anova.loc[df_anova['InternetService']=='DSL','MonthlyCharges']
fiber=df_anova.loc[df_anova['InternetService']=='Fiber optic','MonthlyCharges']
no=df_anova.loc[df_anova['InternetService']=='No','MonthlyCharges']

In [73]:
f,p=stats.f_oneway(dsl,fiber,no)

In [74]:
print('F ={},p={}'.format(f,p))

F =69.46579827914616,p=1.3953166608659434e-11

In [75]:
if p<0.05:
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

reject null hypothesis

## Chi-Square test

This test is applied when you have two categorical variables from a population. It is used to determine whether there is a significant association or relationship between the two variables.

There are 2 types of chi-square tests: chi-square goodness of fit and chi-square test for independence, we will implement the latter one.

The degree of freedom in the chi-square test is calculated by (n-1)*(m-1) where n and m are numbers of rows and columns respectively.

We will be using two categorical features Gender and Loan Status and find whether there is an association between them using the chi-square test.

Null Hypothesis: There is no significant association between Gender and Churn features.

Alternate Hypothesis: There is a significant association between Gender and Churn features.

In [79]:
dataset_table=pd.crosstab(df['gender'],df['Churn'])
dataset_table

Churn     No  Yes
gender
Female  2549  939
Male    2625  930

In [80]:
observed=dataset_table.values
val2=stats.chi2_contingency(dataset_table)
expected=val2[3]

In [81]:
alpha=0.5
ddof =1

In [82]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(observed,expected)])
chi_square_statistic=chi_square[0]+chi_square[1]
p_value=1-chi2.cdf(x=chi_square_statistic,df=1)

In [83]:
print("chi-square statistic:-",chi_square_statistic)

print('Significance level: ',alpha)

print('Degree of Freedom: ',ddof)

print('p-value:',p_value)

chi-square statistic:- 0.522366503358827
Significance level:  0.5
Degree of Freedom:  1
p-value: 0.46983394114265187

In [84]:
if p_value<=alpha:
    print("Reject Null Hypothesis")
else:
    print("Accept Null Hypthesis")

Reject Null Hypothesis